<!--Student Numbers: 221007790,220013856,221018946-->
<!--Surname and Initials: Tshabalala G;T Phage,NN Mngwandi
 Assignment Number: GA1
 Purpose :Create a User-friendly website for CUT-->
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        
        .apply-btn{
            position:center;
            background-color:mediumblue;
            color:white;
        }

        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
        h6{
            text-align:center;
            background-color:white;
        }
    </style>
</head>

<p>
    CUT is the foremost higher education institution in the heartland of South Africa.
    The university has two campuses – one in Bloemfontein, the judicial capital of South Africa,
    and one in Welkom, in the heart of the Free State goldfields. The two campuses offer education
    opportunities in a number of technological fields, including science, technology, engineering
    and mathematics (STEM); management sciences; humanities; and education.
    <br />
    <br />

    <img src="~/images/c95870a8-e39c-4051-9128-b86a1bdd3c6c.jpg" alt="CUT-map-pic" style="height:400px; width:600px;" />
    <br />
    <br />
    The university (then still known as the “Technikon Free State”) opened its doors in 1981, with 285 students enrolled
    in mainly secretarial, art and design programmes.  Today, the institution boasts more than 21 000 students who have
    decided to make CUT their academic partner in earning a qualification and gaining appropriate work-integrated learning 
    to equip and prepare them for professional practice. With the restructuring of the higher education landscape in 2004,
    CUT embraced its new status as a university of technology (UoT), positioning itself to succeed as such.
    The qualifications on offer reside in four faculties, namely Faculty of Health and Environmental Sciences;
    Faculty of Humanities; Faculty of Engineering, Built Environment and Information Technology (IT); and Faculty of Management Sciences.
    The university offers certificates and diplomas at undergraduate level, as well as advanced diplomas, postgraduate diplomas at honours level,
    and master’s and doctoral degrees in order to increase the production of world-class postgraduate programmes and high-quality outputs for research.

    <br />
    CUT’s vision is to be “a leading African University of Technology, shaping the future through innovation.”
    <br />
    The notion of CUT as a leading African University of Technology should be seen against the background of the University’s aspiration to be socially relevant
    and to have a positive impact on the socio-economic conditions of the community it serves. To be a leading African UoT is to recognise the location of the
    University geographically but also, more importantly, to recognise its location within the matrix of social and economic challenges that the continent faces.
    It talks to indigenous knowledge, a de-colonised curriculum, and distinctively
    <br />
    African values such as ubuntu. The future orientation of the vision statement – by 2030 – requires the University to project itself 10 years into the future,
    in an uncertain and rapidly changing world. “Shaping the future through innovation” speaks to CUT’s aspiration to be an active force for change, finding novel
    and innovative solutions to the problems that the country and the continent face. <a href="https://www.cut.ac.za/cut-at-a-glance">Read more</a>
</p>
<br />
<br />
<img src="~/images/z450op7m.png" alt="CUT-map-pic" style="height:900px; width:750px;" />
<img src="~/images/9a5vauos.png" alt="CUT-map-pic" style="height:900px; width:750px;" />
<br />
<br />

    <div class="apply-btn">
    <h1>APPLY HERE!</h1><br />
    <h3>
        Start your career today!
        Click on the link below to apply.
    </h3>
        <h6><a href="https://www.cut.ac.za/admission-online">Apply Here</a></h6>
    </div>

</div>

 


